.button-control {
    max-width: 600px;
    width: 50vw;
    min-width: 400px;
    height: 20vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid gray;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    backdrop-filter: blur(10px);

    input {
        width: 75px;
        margin: 0 0 10px 0;  
        padding: 15px;
        background: rgb(0, 255, 0);
        text-align: center;
        font-weight: 900;
        border: 5px solid white; 
        -webkit-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        -moz-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
    }

    button {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        color: #f3ffcd;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        &:hover, &:focus {
            background: #0053ba;
        }
    }
    
    
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    &:active {
        transform: scale(0.99);
    }
}